<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Alt + shit + fleche -> duplique ligne -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- emplacement html pour vue JS -->
    <div class="container">
      <div id="app">
        <h1 class="mt-4">Directive structurelle IF</h1>
        <h2>Tester un nombre</h2>
        <h3>Négatif - positif - null</h3>
        <div class="mb-3 col-3">
          <input
            type="text"
            aria-label="Search"
            class="form-control my-4"
            v-model="nombre"
            placeholder="nombre"
          />

          <div class="alert alert-danger" role="alert" v-if="nombre <0">Négatif</div>
          <div class="alert alert-primary" v-if="nombre == 0">Null</div>
          <div class="alert alert-success" v-if="nombre > 0">Positif</div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script lang="javascript">
      const { createApp } = Vue;
      createApp({
        data() {
          return {
            nombre: 0,

          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
